{% extends "base.html.twig" %}
{% block stylesheets %}<link href="css/SumPage.css" rel="stylesheet">{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
<h2 class="text-center">На ваш email выслано письмо активации аккаунта</h2>
{% endblock %}