{% extends "base.html.twig" %}
{% block stylesheets %}<link href="css/SumPage.css" rel="stylesheet">{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
    <h2 class="text-center">Вы успешно зарегистрированы. Хотите <a href="http://quiz.home/login">войти</a>?</h2>
{% endblock %}