{% extends "base.html.twig" %}
{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Back</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://quiz.home/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h2 class="text-center">Все круто</h2>
{% endblock %}