{% extends "base.html.twig" %}
{% block stylesheets %}<link href="css/RegisterPage.css" rel="stylesheet">{% endblock %}
{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://quiz.home/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="http://quiz.home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
{% endblock %}
{% block body %}
    <h2 class="text-center">ljv</h2>
{% endblock %}