{% extends "base.html.twig" %}
{% block stylesheets %}<link href="css/RegisterPage.css" rel="stylesheet">{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
    <h2 class="text-center">ljv</h2>
{% endblock %}